{% extends "base.html" %}

{% block body %}
<div class="ui stackable centered grid">
    <div class="seven wide column">
        <form action="" method="post" class="ui form">
            {% csrf_token %}
            <div class="field">
                <label>{{ _('Email') }}:</label>
                <input type="email" name="email" maxlength="254">
            </div>
            <button class="ui primary button" type="submit">{{ _('Send Reset Email') }}</button>
        </form>
    </div>
</div>

{% endblock %}