.title-line-action {
  float: right;
  margin-top: 1.2em;
}

/* Problems */

.filter-form-group {
  margin-top: 3px;
  margin-bottom: 3px;
}

/* Submission  */

.submission-info {
  text-align: right;
  float: right;

  .submission-date {
      color: gray;
  }
}


.case-AC {
  color: green;
  font-weight: bold;
}

.case-_AC {
  color: red;
  font-weight: bold;
}

.case-WA {
  color: red;
  font-weight: bold;
}

.case-TLE, .case-SC {
  color: gray;
  font-weight: bold;
}

.case-MLE, .case-OLE, .case-RTE, .case-IR {
  color: orange;
  font-weight: bold;
}

/* footer */
footer {
  margin-top: 10px;
}

/* upg */
.user-problem-group {
  margin-top: 10px;
}

/* noscript */
#noscript {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  text-align: center;
  font-weight: bold;
  font-size: 120%;
  color: #FFF;
  background-color: #AE0000;
  padding: 5px 0;
}

/* main */
main {
  margin-top: 20px;
}