{% extends "ticket/new.html" %}

{% block guideline_message %}
    {% if not request.in_contest %}
    <div class="ui warning message">
        <i class="close icon"></i>
            <div class="header">
                {{ _('Thanks for opening a ticket!') }}
            </div>
        <p>{{ _('Please keep in mind that this form is for reporting issues with a problem statement, and not for asking for help. If you require assistance on solving a problem, ask in the comments instead.') }}</p>
    </div>
    {% endif %}
{% endblock %}