<div class="ui card">
    <div class="content">
        <div class="header">{{ _('Problem search') }} <i class="icon search"></i></div>
    </div>
    <div class="content">
        <div class="ui small feed">
            <form id="filter-form" name="form" action="" method="get">
                <div class="ui input">
                    <input id="search" type="text" name="search" value="{{ search_query or '' }}" placeholder="{{ _('Search problems...') }}">
                </div>
            <div id="checkboxes" style="margin-top: 5px; margin-bottom: 5px">
                    {% if has_fts %}
                    <div class="ui checkbox">
                        <input id="full_text" type="checkbox" name="full_text" value="1" {% if full_text %}checked{% endif %}>
                        <label>{{ _('Full text search') }}</label>
                    </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="ui checkbox">
                        <input id="hide_solved" type="checkbox" name="hide_solved" value="1" {% if hide_solved %}checked{% endif %}>
                        <label>{{ _('Hide solved problems') }}</label>
                    </div>
                    {% endif %}
                    <div class="ui checkbox">
                            <input id="show_types" type="checkbox" name="show_types" value="1" {% if show_types %} checked{% endif %}>
                            <label>{{ _('Show problem types') }}</label>
                    </div>
            </div>
                <div class="filter-form-group">
                    <label for="category">{{ _('Category') }}</label>
                    <select id="category" name="category">
                        {% if category %}
                        <option value="" selected="selected">{{ _('All') }}</option>
                        {% else %}
                        <option value="">{{ _('All') }}</option>{% endif %}
                        <option disabled="disabled">---</option>
                        {% for group in categories %}
                        <option value="{{ group.id }}" {% if group.id==category %} selected{% endif %}>
                            {{ group.full_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% if show_types %}
                <div class="filter-form-group">
                    <label for="type">{{ _('Problem types') }}</label>
                    <select id="types" name="type" multiple>
                        {% for type in problem_types %}
                        <option value="{{ type.id }}" {% if type.id in selected_types %} selected{% endif %}>
                            {{ type.full_name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
                {% if point_values %}
                <div id="pointValue" style="margin: 15px 1px;">
                        <div class="form-label">{{ _('Point range') }}</div>
                        <div id="point-slider" style="margin-top: 45px"></div>
                </div>
                {% endif %}
                <input id="point-start" type="hidden" name="point_start" {% if point_start and point_start !=point_values.min
                    %}value="{{ point_start }}" {% else %}disabled{% endif %}>
                <input id="point-end" type="hidden" name="point_end" {% if point_end and point_end !=point_values.max
                    %}value="{{ point_end }}" {% else %}disabled{% endif %}>
                <div class="form-submit-group">
                    <button id="go" class="ui button">{{ _('Go') }}</button>
                    <button id="random" class="ui button">{{ _('Random') }}</button>
                </div>
            </form>
        </div>
    </div>
</div>