{% extends "user/user-base.html" %}

{% block user_media %}
    {% include "timezone/media-css.html" %}
    {{ form.media.css }}
    <style>
        .ui.grid .column {
            width: 50% !important;
        }
        
        footer {
            clear: both;
        }

        .sortedm2m-container, .selector-filter {
            width: 100% !important;
        }

        #center_main {
            max-width: 900px;
            margin: auto;
        }

        table {
            width: 100%;
        }

        .api-token {
            padding-top: 5px;
            font-family: Consolas, Liberation Mono, Monaco, Courier New, monospace;
            font-size: 12px;
            -webkit-user-select: all;
            -ms-user-select: all;
            user-select: all;
            white-space: nowrap;
        }

        .ml-5 {
            margin-left: 5px;
        }
    </style>
{% endblock %}

{% block js_media %}
    {% include "timezone/media-js.html" %}
    {{ form.media.js }}
    <script type="text/javascript">
        $(function () {
            $('#ace_user_script').on('ace_load', function (e, editor) {
                editor.getSession().setMode("ace/mode/javascript");
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#disable-2fa-button').click(function () {
                alert("The administrators for this site require all the staff to have two-factor authentication enabled, so it may not be disabled at this time.");
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#generate-api-token-button').click(function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to generate or regenerate your API token?') }}\n"
                          + "{{ _('This will invalidate any previous API tokens.') }} "
                          + "{{ _('It also allows access to your account without Two Factor Authentication.') }}\n\n"
                          + "{{ _('You will not be able to view your api token after you leave this page!') }}")) {
                    $('#api-token').text("{{ _('Generating...') }}");

                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function(data) {
                            $('#api-token').text(data.data.token);
                            $('#generate-api-token-button').text("{{ _('Regenerate') }}");

                            // Add remove button on-the-fly
                            if ($('#remove-api-token-button').length == 0) {
                                $('#generate-api-token-button').after($('<a id="remove-api-token-button" \
                                    href="{{ url('remove_api_token') }}" \
                                    class="button inline-button ml-5">{{ _('Remove') }}</a>'));
                            }
                        },
                    });
                }
            });

            // Delegated event handler because the remove button may have been added on-the-fly
            $('#api-token-td').on('click', '#remove-api-token-button', function (event) {
                event.preventDefault();
                if (confirm("{{ _('Are you sure you want to remove your API token?') }}")) {
                    $.ajax({
                        type: 'POST',
                        url: $(this).attr('href'),
                        dataType: 'json',
                        success: function(data) {
                            $('#api-token').text('');
                            $('#generate-api-token-button').text("{{ _('Generate') }}");
                            $('#remove-api-token-button').remove();
                        },
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'edit' %}
    {% set user = request.profile %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block body %}
    <div id="center_main">
        <form id="edit-form" action="" method="post" class="ui form">
            {% if form.errors %}
                <div class="ui negative message">
                    <i class="close icon"></i>
                    {{ form.non_field_errors() }}
                </div>
            {% endif %}

            {% csrf_token %}

            <label class="field">
                <label>{{ _('Self-description') }}:</label>
                {{ form.about }}
            </div>

            <div class="ui divider"></div>

            <div class="ui grid">
                <div class="column">
                    <table>
                        <tr title="{{ _('Select your closest major city') }}">
                            <td><label>{{ _('Timezone') }}:</label></td>
                            <td><span class="fullwidth">{{ form.timezone }}</span></td>
                        </tr>
                        <tr>
                            <td><label>{{ _('Preferred language') }}:</label></td>
                            <td><span class="fullwidth">{{ form.language }}</span></td>
                        </tr>
                        <tr>
                            <td><label>{{ _('Editor theme') }}:</label></td>
                            <td><span class="fullwidth">{{ form.ace_theme }}</span></td>
                        </tr>
                        {% if has_math_config %}
                            <tr>
                                <td><label>{{ _('Math engine') }}:</label></td>
                                <td><span class="fullwidth">{{ form.math_engine }}</span></td>
                            </tr>
                        {% endif %}
                        {% if form.newsletter %}
                            <tr>
                                <td colspan="2">
                                    <div class="ui checkbox">
                                            {{ form.newsletter }}
                                        <label>{{- _('Notify me about upcoming contests') -}}</label>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td colspan="2">
                                <div class="ui checkbox">
                                    {{ form.test_site }}
                                    <label>{{- form.test_site.label -}}</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="https://en.gravatar.com/" title="{{ _('Change your avatar') }}"
                                   target="_blank" class="inline-header">{{ _('Change your avatar') }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="{{ url('password_change') }}" class="inline-header">
                                    {{ _('Change your password') }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><span class="inline-header">
                                {% if profile.is_totp_enabled %}
                                    {{ _('Two Factor Authentication is enabled.') }}
                                    {% if require_staff_2fa and request.user.is_staff %}
                                        <a id="disable-2fa-button" class="ui button">Disable</a>
                                    {% else %}
                                        <a href="{{ url('disable_2fa') }}" class="ui button">Disable</a>
                                    {% endif %}
                                {% else %}
                                    {{ _('Two Factor Authentication is disabled.') }}
                                    <a href="{{ url('enable_2fa') }}" class="ui button">Enable</a>
                                {% endif %}
                            </span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span id="api-token-td" class="inline-header">
                                {{ _('API Token:') }}
                                {% if profile.api_token %}
                                    <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                                       class="button inline-button">{{ _('Regenerate') }}</a>
                                    <a id="remove-api-token-button" href="{{ url('remove_api_token') }}"
                                       class="button inline-button ml-5">{{ _('Remove') }}</a>
                                    <div class="api-token" id="api-token">{{ _('Hidden') }}</div>
                                {% else %}
                                    <a id="generate-api-token-button" href="{{ url('generate_api_token') }}"
                                       class="button inline-button">{{ _('Generate') }}</a>
                                    <div class="api-token" id="api-token"></div>
                                {% endif %}
                            </span></td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <div>
                        {{ _('Affiliated organizations') }}:
                    </div>
                    {{ form.organizations }}
                </div>
            </div>

            <div class="ui divider"></div>

            <div class="block-header">{{ _('User-script') }}:</div>
            {{ form.user_script }}

            <div class="ui divider"></div>

            <input class="ui right floated button" type="submit" value="{{ _('Update profile') }}">
        </form>
    </div>
{% endblock %}
